/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col"]{
    /* DEBUG */
    /* background-color: blue; */
    border: solid 1px black;
    min-height: 30px;
}
/* Header */
.header{
    width: 100%;
    height: 60px;
    background-color: #2c3e50;
}

.header .col-6{
    color: white
}

.navbar-expand-lg .navbar-collapse.mn_navbar{
    justify-content: center;
    color: white;
}

.d-flex{
    list-style: none;
    margin-bottom: 0;
}

.d-flex li{
    padding-right: 10px;
}


/* Start Boostrap */
.green{
    margin-top: 60px;
    background-color: #1abc9c;
}

.green .col-8{
    padding: 30px 0;
    color: white;
}

.col-8 img{
    width: 40%;
    padding: 10px 0;
}

.green .icon div{
    display: inline-block;
    width: 30%;
    height: 4px;
    margin-bottom: 2px;
    background-color:white;
}

.green .icon i{
    padding: 0 15px;
}


/* Portfolio*/
.portfolio .icon div{
    display: inline-block;
    width: 30%;
    height: 4px;
    margin-bottom: 2px;
    background-color: black;
}

.portfolio .row.ms_img{
    margin-top: 10px;
}

.portfolio .row.ms_img img{
    width: 60%;
    padding: 10px 0;
}


/* About */
section.green div.col-4 div.icon i{
    color: white;
}

div.col-4 i{
    color: white;
    padding-right: 5px;
}

div.col-4 a{
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    border: 1px solid white;
}